*{
    margin: 0px;
    padding: 0px;
}


.login .container{
    background-color: #223D53;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-between ;
    justify-content: center;
 
}

.corpo{
    width: 1000px;
    height: 500px;
    margin-top: 7vw;
    border-radius: 10px;
    display: flex;  
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.l-esquerdo{
    background-color: #102B3D;
    width: 40%;
    border-radius:  10px 0px 0px 10px;
}

.l-direito{
    width: 60%;
    background-color: #FFF;
    border-radius:  0px 10px 10px 0px;
}

.img-login{
    margin: 50px auto;
    width: 100%;
}

.texto-l-esquerdo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #384F5F;
    font-size: 12px;
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.titulo-l-direito{
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    font-size: 24px;
}

.img-logo{
    margin-right: 30px;
}

.sub-titulo-login{
    margin: 20px 20%;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.formulario-login{
    justify-content: space-around;
    justify-items: left;
    margin: 0 20%;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
}
.btn-esq-senha{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 5px;
    color: #102B3D;
    width: 100%;
    background-color:#FFF ;
    border: none;
    cursor: pointer;
}
.btn-esq-senha:hover{
    color: #223D53;
}
.btn-esq-senha:focus{
    outline: 0;
}


.btn-login{
    margin: 25px 20%;
    width: 60%;
    height: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: #FFF;
    background-color: #102B3D;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    transition: all 0.2s;
}
.btn-login:focus{
    outline: 0;
}
.btn-login:hover{
    color: #CCC;
    border-radius: 0px;
    background-image: linear-gradient(to right, #102B3D, #223D53);
   
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: #223D53;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 18px;
    color: #9b9b9b;
    margin-bottom: 20px;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right, #102B3D, #223D53);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #223D53;
    font-weight: 500;
  }
  

  .btn-cadastro{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    color: #102B3D;
    width: 100%;
    background-color:#FFF ;
    border: none;
    cursor: pointer;
  }

  .btn-cadastro:hover{
    color: #223D53;
  }

  .btn-cadastro:focus{
    outline: 0;
}


@media (max-width:1000px) and (min-width:800px) {
    .corpo{
        width: 800px;
    }
  }

  @media (max-width:800px){
    .corpo{

        width: 90%;
        margin: 5% 5%;
    }
    .l-esquerdo{
        display: none;
    }
    .l-direito{
        width: 100%;
        border-radius: 10px;
    }
    .sub-titulo-login{
        margin: 20px 10%;
        width: 80%;
    }
    .formulario-login{
        margin: 0 10%;
        width: 80%;

    }
  }